[Container]
ContainerName=kafka-kraft
Environment=LOG_DIR=/tmp/kafka-logs KAFKA_NODE_ID=1 KAFKA_PROCESS_ROLES=broker,controller KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093 KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092 KAFKA_CONTROLLER_QUORUM_VOTERS-1@localhost:9093
Exec=sh -c 'bin/kafka-server-start.sh config/kraft/server.properties'
Image=registry.redhat.io/amq-streams/kafka-39-rhel9:2.9.0
Network=kafka-network
PublishPort=9092:9092
PublishPort=9093:9093
Volume=./kafka-config/kraft:/opt/kafka/config/kraft:Z
Volume=./kafka-data:/var/lib/kafka/data:Z
