[Container]
ContainerName=zookeeper
Environment=LOG_DIR=/tmp/zookeeper-logs
Exec=sh -c 'bin/zookeeper-server-start.sh config/zookeeper.properties'
Image=registry.redhat.io/amq-streams/kafka-37-rhel9:2.8.0
Network=kafka-network
PublishPort=2181:2181
Volume=./zookeeper-config/zookeeper.properties:/opt/kafka/config/zookeeper.properties
